* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: black;
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.loadingPage {
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-image: url('../bg.jpg');
}

.creatures_cover,
.characters_cover {
  /* transform: skew(20deg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.creatures_cover {
  background-image: url('../creatures_cover.jpg');
  transform: skewX(-20deg);
  transition: width 1.2s ease-in-out;
}

.characters_cover {
  background-image: url('../characters_cover.jpg');
  margin-left: 76px;
  transform: skewX(20deg);
}

/* ---------- */

.slider-container {
  position: relative;
  height: 100vh;
}

.slider {
  width: 62%;
  overflow: hidden;
  display: inline-block;
  transform: skewX(-20deg);
  transition: width 1.2s ease-in-out;
  margin-left: -150px;
  pointer-events: none;
}

.box {
  width: 1200px;
  height: 100vh;
}

.sunset {
  transform: skewX(20deg);
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('../c1.jpg') no-repeat right;
  background-position: center;
  margin-left: 40px;
  pointer-events: auto;
  overflow: hidden;
}

.sunrise {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('../creatures_cover.jpg') left no-repeat;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-size: cover;
}

.slider:hover {
  width: 70%;
  opacity: 1;
}

.slider:hover .sunset {
  background: url('../c1.jpg') no-repeat right;
  opacity: 0.8;
  background-position: center;
}

.sunrise:hover + .slider {
  width: 55%;
}

.sunrise:hover {
  background: url('../creatures_cover.jpg') left no-repeat;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
}

.font_courgette {
  font-family: 'Courgette', cursive;
  width: min-content;
}

/* .characters_title,
.creatures_title {
  opacity: 0;
} */

.sunset:hover .characters_title {
  transition: all 1.5s linear;
  opacity: 1;
}

.sunrise:hover .creatures_title {
  transition: all 1.5s linear;
  opacity: 1;
}
